
/*# sourceMappingURL=style.css.map */
/*============Edit H============*/
.wrapper{
  position: relative;
  min-height: 100vh;
}
.footer{
  position: absolute;
  bottom: 0;
}
/*===============Products===============*/
.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 26px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
    height: 26px;
    top: 0;
    color: #F7917B;
    border: 1px solid #F1F5FA;
    border-left: none;
    line-height: 24px;
    font-size: 20px;
    right: -40px;
}

.quantity-button.quantity-down {
  position: absolute;
    height: 26px;
    top: 0;
    color: #F7917B;
    border: 1px solid #F1F5FA;
    border-right: none;
    line-height: 24px;
    font-size: 20px;
    left: -45px;
}


/*===============OrderBuyer===============*/
#buyer-sup{
  position: relative;

}
.title-lg-custom{
  display: flex;
  align-items: center;
  text-align: right;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
}
.title-lg-custom h3{
  position: absolute;
  top: 60px;
  font-size: 21px;
}

.title-lg-custom span{
  height: 31px;
  left: 276px;
  top: 62px;
}
.order-wrap-header{
  border-bottom: 1px solid #F7917B;
}
.sub-title{
  margin: 18px 267px 18px 18px;

}

.sub-title h5{
  font-family: bold;
  font-size: 16px;
}

.order-table{
  font-size: 12px;
  margin: 13px 5px;
  color: #000000;
}
.order-table th{
  font-weight: normal;
}
.order-table td{
  padding: 13px 7px;
  border-bottom: 1px solid #F1F5FA;
  font-size: 10px;
  color: #828282;
}

.icheck-material-pink>input:first-child:checked+label::before, .icheck-material-pink>input:first-child:checked+input[type="hidden"]+label::before{background : #EB5757!important; border-color: #EB5757!important;}
.icheck-material-pink>input:first-child:not(:checked):not(:disabled):hover+label::before, .icheck-material-pink>input:first-child:not(:checked):not(:disabled):hover+input[type="hidden"]+label::before{border-color: #EB5757!important;}

/*=========NOTIFICATION===========*/
#notifi-sup{
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 110px; */
  background: #FFFFFF;
}

#notifi-sup .noti-box{
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  height: 55px;
  color: #BDBDBD;
  border-bottom: 1px solid #F1F5FA;
 
}
#notifi-sup .noti-confirm{
   color: #333333;
   background: #F1F5FA;
   border: none;
}
.noti-text{
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
  width: 80%;
}
.noti-time{
  padding-top: 13px;
  padding-bottom: 13px;
  float: right;
  width: 20%;
  text-align: right;
}
/*=========Favorite vs ORDER 182===========*/
.arr-back{
  position: absolute;
  left: 5.33%;
  top: 55%;
}
#favorite, #order-green{
  margin-top: 4px;
  padding-top : 10px
}
#fav-sup{
  /* padding-top: 18px; */
  background-color: white;
  margin-bottom: 15px;
}
#fav-sup .conta-fav-info{padding-bottom: 0}
#fav-sup .date-fav-info p, #fav-sup .price-fav-info p{margin: 0}
#fav-sup .date-fav-info,#fav-sup .price-fav-info{padding: 5px 0}
#order-green .header-item{
  display: flex;
  align-items: center;
}
#order-green .header-item span{
  padding-left: 15px;
}
.list-item .header-item{
  border: 1px solid #F1F5FA;
  padding-top: 16px; 
  font-size: 16px;
  line-height: 19px;
  padding-left: 20px;
  padding-bottom: 17px;
}
.header-fav-info{
  font-size: 16px;
  color: #000000;
  line-height: 19px;
}
.conta-fav-info {
  font-size: 10px;
  line-height: 12px;
  color: #828282;
  padding: 12px 0 40px 37px
}
.conta-fav-info p:last-child {
    margin-top: -10px;
}
.date-fav-info, .price-fav-info {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.date-fav-info p:first-child, .price-fav-info p:first-child{
  color: #828282;
}
.date-fav-info p:last-child{
  color: #EB5757;
  letter-spacing: 3px;
  padding-left: 5px;
  font-weight: bold;
}
#order-green .date-fav-info p:last-child {
  color: #27AE60;
}
.price-fav-info p:last-child{
  color: #EB5757;
  letter-spacing: 3px;
  padding-left: 5px;
}

#fav-sup-list{
  margin-bottom: 85px;
  background-color: #F1F5FA;
  padding-top: 4px;
}
#fav-sup-list .list-item{
  background-color: white;
}


#fav-sup-list .fav-item{
  position: relative;
  border-bottom: 1px solid #F1F5FA;
}

#fav-sup-list .fav-item .fav-item-info{
  display: flex;
  align-items: center;
}


.fav-sup-info, .fav-item {
  padding-left: 5px;
  font-size: 16px;
  line-height: 19px;
}
.fav-sup-info{

  /* padding-top: 18px; */
}
.fav-item {
  padding-top: 5px;
}

.wrap-item-info {
    display: flex;
    align-items: center;
    width: 75%;
}

#order-green .fav-item-info .img-pr {
  padding-left: 15px;
}

.fav-item-info .img-pr {
  padding-right: 11px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.fav-item-detail {
  font-size: 14px;
  line-height: 17px;
}
.fav-item-detail .fav-detail {
    padding-right: 11px;

    color: #BDBDBD;
}
.fav-item-detail p{
  margin-bottom: 9px;
}
.fav-item-detail .fav-detail p{

}
.fav-item-detail .fav-price p{
  color: #333333;
}
.fav-item .item-status{
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
padding-top: 15px;
}
.fav-item .item-status .confirm{
  color: #EB5757;
}
.fav-item .item-status .cancelled{
  color: #333333;
}
.fav-item .item-status .pospone{
  text-align: center;
  color: #2F80ED;
  margin-left: -10px;
}
/*===========FOOTER============*/
.footer{
  position: absolute;
  bottom: 0;
} 

 footer .line-bar{
  position: absolute;
  width: 135px;
  height: 5px;
  left: calc(50% - 135px/2);
  bottom: 8px;
  background: #484848;
  border-radius: 100px;
  display: none;
}

/* //line top */
.line-top{
  padding-top: 65px;
    background: #F1F5FA;
}
.line-child{background: #FFFFFF}
.line-child section{margin-top: 5px}
.line-title{padding-top: 1px}
.profile{margin-top: 4px; background: #fff}