@media screen and (max-width: 375px){
    #product #prod-sup #pro-order .container-fluid #total-price{margin: 0 10px}
    .btn-login button{width: 305px}
    .profile .profile-fr .container-fluid .form-prfile .title .desc{left: 70px;}
}

@media screen and (max-width: 320px){
    .profile .profile-fr .container-fluid .form-prfile .title .desc{left: 0}
    .btn-login button{width: 240px}
    #products span{right: 10px}
    #product #prod-sup .container-fluid .list .item .pro-child .img-pr{margin: 0 15px 0 5px;}
    #product #prod-sup .container-fluid .list .item .pro-child .pro-title{margin: 0 15px 0 -5px;}
    #product #prod-sup .container-fluid .list .item #price{right: 0}
    #product #prod-sup #pro-order .container-fluid #total-price{margin: 0}
    #product #prod-sup #pro-order .container-fluid #total-price p:last-child{font-size: 12px;}
   /*===============end products===============*/
}