*{margin: 0; padding: 0}


/*===============val===============*/
$head-color: #EB5757;
$text-color: #BDBDBD;
$home-color-left:#F7917B;
$home-color-right:#219653; 
$border-color: #F1F5FA;
$white: #fff;
$black : #000;
$black-33: #333333;
$white_f2: #f2f2f2;
$text-82: #828282;
$text-D1: #D1D1D1;
/*===============Mixin===============*/

@mixin  max-width {
    max-width: 414px;
    margin: 0 auto;
}
/*===============Class all===============*/
.btn-login{text-align: center; display: block;position: absolute; display: block; bottom: 70px ;
    transform: translateX(-50%); left: 50%;
    button{width: 350px; height: 48px; background: $head-color; text-transform: uppercase; font-family: Pro!important;}
    };
.btn-profile{
    position: relative;
    bottom: 0;
    padding: 60px 0;
   button{
    background: $text-D1;
    color: $black-33;
    border: none;
    font-size: 15px;
    line-height: 16px;
   }
}
/*===============fonts===============*/
@font-face{
    font-family: 'Pro';
    src: url(../Assets/fonts/AvenirNextLTPro-Regular.otf)
}
@font-face{
    font-family: 'bold';
    src: url(../Assets/fonts/AvenirNextLTPro-Bold.otf)
}

body{font-family: Pro!important}
/*===============links===============*/ 

p {color: $text-color;}
.h3-xam{ color: $text-color!important}

#changelink{
    ul{list-style-type: none;
        li{display: inline-block; float: left;  padding: 0 10px;}
    }
}
/*===============end links===============*/

header{height: 65px;position: fixed; width: 100%; z-index: 1;@include max-width(); transform: translateX(-50%);
    left: 50%;
    .title-lg{min-height: 100%; display: flex; align-items: flex-end; justify-content: center; position: relative; @include max-width();
        h3{
            color: $white;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 24px;
            padding-bottom:15px;
            margin-bottom: 3px
        };
        h3::before{
            content: url(../images/Shape-left.png);
            position: absolute;
            left: 20px;
            top: -3px;
        }
        span{color: $white; font-size: 12px;right: 20px;position: absolute;
            bottom: 20px;}
    }
}
#products{
    h3::before{content: ''} ;
    
}

.head_lg{
    position: relative;
    left: 0 ;
    transform: none;
    h3{font-size: 18px; display: block; width: 100%; position: relative; text-align: center;}
}


.head_blue{
    .title-lg{
    background: $home-color-right;
    }
}

/*===============end header===============*/



.wrapper{@include max-width(); margin: 0 auto; padding-top: 65px;}
.wrapper-home{@include max-width(); margin: 0 auto;}
/*===============end wrapper===============*/


footer{position: fixed; bottom: 0; width: 100%; height: 85px;z-index: 1;background: $white; box-shadow: 2px -1px 17px rgba(0, 0, 0, 0.0741055);@include max-width();
    .container-fluid{
        height: 100%;
        .icon-bottom{display: flex; height: 100%; align-items: center; justify-content: space-around;@include max-width(); 
        .item{text-align: center; margin-top: 5px; p{color: $text-color;font-size: 16px;line-height: 19px; padding-top: 5px;}}}}
}

/*===============end footer===============*/

/*===============title background===============*/
.title-intro{
    background-image: url('../images/bg-intro.jpg'); min-height: 100vh; background-repeat: no-repeat;
    background-size: 100% 100%; object-fit: cover; padding-top: 298px; text-align: center;

    .box{display: flex; 
        justify-content: center; padding: 110px 0;
        .box-left, .box-right{display: inline-block;
            width: 152px;
            height: 142px;
            box-sizing: border-box;
            background: $white;
            border-radius: 10px;
            padding: 15px;
            text-align: center;
            text-transform: capitalize;
            font-size: 30px;
        };
        .box-left{color: $head-color; font-weight: 700;border: 1px solid $home-color-left;margin-right: 10px;};
        .box-right{color: $home-color-right; font-weight: 700; border: 1px solid $home-color-right; margin-left: 10px;}
    }

}

#intro1{background-image: url('../images/bg-intro2.jpg');}


// end title intro
.logo{display: inline-block; width: 224px; height: 83px; 
    img{width: 100%;}
}
// end logo

.buyer-login{padding-top: 70px; height: 742px;position: relative; @include max-width();
    .container-fluid{
        text-align: right;
        .forgot{padding: 0 20px};
        a{font-size: 12px; line-height: 14px; color: $text-color};
        
        .input-group{margin-bottom: 35px; padding: 0 20px}
            input{border: none; border-bottom: 1px solid $white_f2; padding: 0; font-size: 18px; line-height: 22px;}
            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                padding: 0 /* Firefox */;
                color: $text-color;
            }
            
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                padding: 0;
                color: $text-color;
            }
            
            ::-ms-input-placeholder { /* Microsoft Edge */
                padding: 0;
                color: $text-color;
            }
    }
}
/*===============end buyer login===============*/
 #Suppl-login{
        .btn-login{
            button{background: $home-color-right; border-color: $home-color-right;}
        }

}


//sup login
#product{  background: $border-color;;
    #prod-sup{margin-bottom: 96px;
        .container-fluid{ padding: 0;
            .list{background: $white; padding: 0 20px; margin-bottom: 10px;
                .prod-chec{margin: 0 -10px;padding: 10px;border-bottom: 1px solid $border-color; label{margin-right: 5px;}}; 
                    .item{position: relative;border-bottom: 1px solid $border-color;
                        .pro-child{display: flex; align-items: center;padding: 10px 0px 17px 0px; 
                            .img-pr{margin: 0 14px 0 10px; a{width: 79px; height: 89px; display: inline-block; img{width: 100%}} };
                            .pro-title{margin: 0 30px 0 -5px; display: flex; justify-content: space-between; width: 100%;
                            a,p{font-size: 14px; line-height: 17px;}; p{padding-top: 9px} }  
                        };
                    .price{position: absolute; right: 8px; bottom: 7px;p{ font-size: 14px; font-weight: 17px; color: $home-color-left; margin: 0} }
                };
                .item:last-child{border: none!important;}
            }
        };
        #pro-order{display: none; height: 70px; position: fixed; bottom: 96px; background: $border-color; width: 100%;@include max-width();
            .container-fluid{padding: 0 20px; display: flex; align-items: center; justify-content: space-between;height: 100%;
            p{margin-bottom: 0; font-size: 12px; height: 16px; color: $black};
            #total-price{ text-align: right; margin: 0 30px; p:last-child{color: $head-color; font-weight: 800; font-size: 17px;};}
            button{ background: $head-color;width: 93px; height: 30px; line-height: 12px; font-size: 13px;}
            }
        }
    }
}

//end prod-sup

#order-buyer{margin-bottom: 96px;}


//blue
#buyer-sup-blue{
    .order-wrap-header, .order-wrap-header{border-color: $home-color-right}
}

// end order-buyer



#around-blue,#around, .profile{height: 100vh}
/*===============end around===============*/

.profile{
    padding: 15px 20px;
    .profile-fr{
        margin-bottom: 100px;
        
        .container-fluid{
            padding: 0;
            .form-prfile{
                box-shadow: 0px 2px 10px rgba(224, 224, 224, 0.502);
                border: 1px solid $white_f2; border-radius: 10px;
                .title{padding: 0 20px;border-bottom: 1px solid #F1F5FA;
                    .icon{
                        padding: 10px 0; text-align: right;
                        a{display: inline-block; width: 30px; height: 30px; border-radius: 50%; 
                            text-align: center; line-height: 26.5px;
                        }
                    };
                    .desc{display: inline-block; position: relative; left: 100px; margin-bottom: 18px; 
                        b{font-size: 18px; font-family: Pro;}
                    };
                };
                .content{ padding: 20px;margin-bottom: 50px; label{font-size: 18px; color: $text-82; line-height: 22px; };
                input{ padding: 0; border: none}
                    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        padding: 0 /* Firefox */;
                        font-size: 16px;
                        color: $text-D1;
                        line-height: 19px;
                    }
                    
                    :-ms-input-placeholder { /* Internet Explorer 10-11 */
                        padding: 0;
                        font-size: 16px;
                        color: $text-D1;
                        line-height: 19px;
                    }
                    
                    ::-ms-input-placeholder { /* Microsoft Edge */
                        padding: 0;
                        font-size: 16px;
                        color: $text-D1;
                        line-height: 19px;
                    }
                }
            }
            
        }
    }
}

// profile red 1
#profile-red1, #profile-blue1{
    .icon{ a{background: $head-color;}}
    label{font-size: 14px; line-height: 17px;};
    input{border: 1px solid $border-color; padding: 7px;};
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        word-wrap: break-word;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        word-wrap: break-word;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        word-wrap: break-word;
    }
}

//profile blue
#profile-blue{
    a{background: $white;}
}
#profile-blue1{.icon{a{background: $home-color-right;}}
}





/*===============end profile===============*/




