* {
  margin: 0;
  padding: 0; }

/*===============val===============*/
/*===============Mixin===============*/
/*===============Class all===============*/
.btn-login {
  text-align: center;
  display: block;
  position: absolute;
  display: block;
  bottom: 70px;
  transform: translateX(-50%);
  left: 50%; }
  .btn-login button {
    width: 350px;
    height: 48px;
    background: #EB5757;
    text-transform: uppercase;
    font-family: Pro !important; }

.btn-profile {
  position: relative;
  bottom: 0;
  padding: 60px 0; }
  .btn-profile button {
    background: #D1D1D1;
    color: #333333;
    border: none;
    font-size: 15px;
    line-height: 16px; }

/*===============fonts===============*/
@font-face {
  font-family: 'Pro';
  src: url(../Assets/fonts/AvenirNextLTPro-Regular.otf); }
@font-face {
  font-family: 'bold';
  src: url(../Assets/fonts/AvenirNextLTPro-Bold.otf); }
body {
  font-family: Pro !important; }

/*===============links===============*/
p {
  color: #BDBDBD; }

.h3-xam {
  color: #BDBDBD !important; }

#changelink ul {
  list-style-type: none; }
  #changelink ul li {
    display: inline-block;
    float: left;
    padding: 0 10px; }

/*===============end links===============*/
header {
  height: 65px;
  position: fixed;
  width: 100%;
  z-index: 1;
  max-width: 414px;
  margin: 0 auto;
  transform: translateX(-50%);
  left: 50%; }
  header .title-lg {
    min-height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    max-width: 414px;
    margin: 0 auto; }
    header .title-lg h3 {
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 24px;
      padding-bottom: 15px;
      margin-bottom: 3px; }
    header .title-lg h3::before {
      content: url(../images/Shape-left.png);
      position: absolute;
      left: 20px;
      top: -3px; }
    header .title-lg span {
      color: #fff;
      font-size: 12px;
      right: 20px;
      position: absolute;
      bottom: 20px; }

#products h3::before {
  content: ''; }

.head_lg {
  position: relative;
  left: 0;
  transform: none; }
  .head_lg h3 {
    font-size: 18px;
    display: block;
    width: 100%;
    position: relative;
    text-align: center; }

.head_blue .title-lg {
  background: #219653; }

/*===============end header===============*/
.wrapper {
  max-width: 414px;
  margin: 0 auto;
  margin: 0 auto;
  padding-top: 85px; }

.wrapper-home {
  max-width: 414px;
  margin: 0 auto;
  margin: 0 auto; }

/*===============end wrapper===============*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 85px;
  z-index: 1;
  background: #fff;
  box-shadow: 2px -1px 17px rgba(0, 0, 0, 0.0741055);
  max-width: 414px;
  margin: 0 auto; }
  footer .container-fluid {
    height: 100%; }
    footer .container-fluid .icon-bottom {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-around;
      max-width: 414px;
      margin: 0 auto; }
      footer .container-fluid .icon-bottom .item {
        text-align: center;
        margin-top: 5px; }
        footer .container-fluid .icon-bottom .item p {
          color: #BDBDBD;
          font-size: 16px;
          line-height: 19px;
          padding-top: 5px; }

/*===============end footer===============*/
/*===============title background===============*/
.title-intro {
  background-image: url("../images/bg-intro.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
  padding-top: 298px;
  text-align: center; }
  .title-intro .box {
    display: flex;
    justify-content: center;
    padding: 110px 0; }
    .title-intro .box .box-left, .title-intro .box .box-right {
      display: inline-block;
      width: 152px;
      height: 142px;
      box-sizing: border-box;
      background: #fff;
      border-radius: 10px;
      padding: 15px;
      text-align: center;
      text-transform: capitalize;
      font-size: 30px; }
    .title-intro .box .box-left {
      color: #EB5757;
      font-weight: 700;
      border: 1px solid #F7917B;
      margin-right: 10px; }
    .title-intro .box .box-right {
      color: #219653;
      font-weight: 700;
      border: 1px solid #219653;
      margin-left: 10px; }

#intro1 {
  background-image: url("../images/bg-intro2.jpg"); }

.logo {
  display: inline-block;
  width: 224px;
  height: 83px; }
  .logo img {
    width: 100%; }

.buyer-login {
  padding-top: 70px;
  height: 742px;
  position: relative;
  max-width: 414px;
  margin: 0 auto; }
  .buyer-login .container-fluid {
    text-align: right; }
    .buyer-login .container-fluid .forgot {
      padding: 0 20px; }
    .buyer-login .container-fluid a {
      font-size: 12px;
      line-height: 14px;
      color: #BDBDBD; }
    .buyer-login .container-fluid .input-group {
      margin-bottom: 35px;
      padding: 0 20px; }
    .buyer-login .container-fluid input {
      border: none;
      border-bottom: 1px solid #f2f2f2;
      padding: 0;
      font-size: 18px;
      line-height: 22px; }
    .buyer-login .container-fluid ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      padding: 0;
      color: #BDBDBD; }
    .buyer-login .container-fluid :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      padding: 0;
      color: #BDBDBD; }
    .buyer-login .container-fluid ::-ms-input-placeholder {
      /* Microsoft Edge */
      padding: 0;
      color: #BDBDBD; }

/*===============end buyer login===============*/
#Suppl-login .btn-login button {
  background: #219653;
  border-color: #219653; }

#product {
  background: #F1F5FA; }
  #product #prod-sup {
    margin-bottom: 96px; }
    #product #prod-sup .container-fluid {
      padding: 0; }
      #product #prod-sup .container-fluid .list {
        background: #fff;
        padding: 0 20px;
        margin-bottom: 10px; }
        #product #prod-sup .container-fluid .list .prod-chec {
          margin: 0 -10px;
          padding: 10px;
          border-bottom: 1px solid #F1F5FA; }
          #product #prod-sup .container-fluid .list .prod-chec label {
            margin-right: 5px; }
        #product #prod-sup .container-fluid .list .item {
          position: relative;
          border-bottom: 1px solid #F1F5FA; }
          #product #prod-sup .container-fluid .list .item .pro-child {
            display: flex;
            align-items: center;
            padding: 10px 0px 17px 0px; }
            #product #prod-sup .container-fluid .list .item .pro-child .img-pr {
              margin: 0 14px 0 10px; }
              #product #prod-sup .container-fluid .list .item .pro-child .img-pr a {
                width: 79px;
                height: 89px;
                display: inline-block; }
                #product #prod-sup .container-fluid .list .item .pro-child .img-pr a img {
                  width: 100%; }
            #product #prod-sup .container-fluid .list .item .pro-child .pro-title {
              margin: 0 30px 0 -5px;
              display: flex;
              justify-content: space-between;
              width: 100%; }
              #product #prod-sup .container-fluid .list .item .pro-child .pro-title a, #product #prod-sup .container-fluid .list .item .pro-child .pro-title p {
                font-size: 14px;
                line-height: 17px; }
              #product #prod-sup .container-fluid .list .item .pro-child .pro-title p {
                padding-top: 9px; }
          #product #prod-sup .container-fluid .list .item .price {
            position: absolute;
            right: 8px;
            bottom: 7px; }
            #product #prod-sup .container-fluid .list .item .price p {
              font-size: 14px;
              font-weight: 17px;
              color: #F7917B;
              margin: 0; }
        #product #prod-sup .container-fluid .list .item:last-child {
          border: none !important; }
    #product #prod-sup #pro-order {
      display: none;
      height: 70px;
      position: fixed;
      bottom: 96px;
      background: #F1F5FA;
      width: 100%;
      max-width: 414px;
      margin: 0 auto; }
      #product #prod-sup #pro-order .container-fluid {
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%; }
        #product #prod-sup #pro-order .container-fluid p {
          margin-bottom: 0;
          font-size: 12px;
          height: 16px;
          color: #000; }
        #product #prod-sup #pro-order .container-fluid #total-price {
          text-align: right;
          margin: 0 30px; }
          #product #prod-sup #pro-order .container-fluid #total-price p:last-child {
            color: #EB5757;
            font-weight: 800;
            font-size: 17px; }
        #product #prod-sup #pro-order .container-fluid button {
          background: #EB5757;
          width: 93px;
          height: 30px;
          line-height: 12px;
          font-size: 13px; }

#order-buyer {
  margin-bottom: 96px; }

#buyer-sup-blue .order-wrap-header, #buyer-sup-blue .order-wrap-header {
  border-color: #219653; }

#around-blue, #around, .profile {
  height: 100vh; }

/*===============end around===============*/
.profile {
  padding: 15px 20px; }
  .profile .profile-fr {
    margin-bottom: 100px; }
    .profile .profile-fr .container-fluid {
      padding: 0; }
      .profile .profile-fr .container-fluid .form-prfile {
        box-shadow: 0px 2px 10px rgba(224, 224, 224, 0.502);
        border: 1px solid #f2f2f2;
        border-radius: 10px; }
        .profile .profile-fr .container-fluid .form-prfile .title {
          padding: 0 20px;
          border-bottom: 1px solid #F1F5FA; }
          .profile .profile-fr .container-fluid .form-prfile .title .icon {
            padding: 10px 0;
            text-align: right; }
            .profile .profile-fr .container-fluid .form-prfile .title .icon a {
              display: inline-block;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              text-align: center;
              line-height: 26.5px; }
          .profile .profile-fr .container-fluid .form-prfile .title .desc {
            display: inline-block;
            position: relative;
            left: 100px;
            margin-bottom: 18px; }
            .profile .profile-fr .container-fluid .form-prfile .title .desc b {
              font-size: 18px;
              font-family: Pro; }
        .profile .profile-fr .container-fluid .form-prfile .content {
          padding: 20px;
          margin-bottom: 50px; }
          .profile .profile-fr .container-fluid .form-prfile .content label {
            font-size: 18px;
            color: #828282;
            line-height: 22px; }
          .profile .profile-fr .container-fluid .form-prfile .content input {
            padding: 0;
            border: none; }
          .profile .profile-fr .container-fluid .form-prfile .content ::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            padding: 0;
            font-size: 16px;
            color: #D1D1D1;
            line-height: 19px; }
          .profile .profile-fr .container-fluid .form-prfile .content :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            padding: 0;
            font-size: 16px;
            color: #D1D1D1;
            line-height: 19px; }
          .profile .profile-fr .container-fluid .form-prfile .content ::-ms-input-placeholder {
            /* Microsoft Edge */
            padding: 0;
            font-size: 16px;
            color: #D1D1D1;
            line-height: 19px; }

#profile-red1 .icon a, #profile-blue1 .icon a {
  background: #EB5757; }
#profile-red1 label, #profile-blue1 label {
  font-size: 14px;
  line-height: 17px; }
#profile-red1 input, #profile-blue1 input {
  border: 1px solid #F1F5FA;
  padding: 7px; }
#profile-red1 ::placeholder, #profile-blue1 ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  word-wrap: break-word; }
#profile-red1 :-ms-input-placeholder, #profile-blue1 :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  word-wrap: break-word; }
#profile-red1 ::-ms-input-placeholder, #profile-blue1 ::-ms-input-placeholder {
  /* Microsoft Edge */
  word-wrap: break-word; }

#profile-blue a {
  background: #fff; }

#profile-blue1 .icon a {
  background: #219653; }

/*===============end profile===============*/

/*# sourceMappingURL=style.css.map */
